body {
    font-family: sans-serif;
    margin: 0 50px;
    background-color: #e5e5e5;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.app {
    background-color: #fff;
    width: 300px;
    height: 500px;
    border: 5px solid #a1afce;
    border-radius: 8px;
    padding: 15px;
}

#addNew {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(161, 181, 206, 0.35);
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.fa-plus {
    background-color: #a1b5ce;
    padding: 3px;
    border-radius: 3px;
}

#msg {
    color: red;
}

#tasks {
    display: grid;
    grid-template-columns: 1fr;
    gap: 14px;
}

#tasks div {
    border: 3px solid #a1b3ce;
    background-color: #dee5ee;
    border-radius: 6px;
    padding: 5px;
    display: grid;
    gap: 4px;
}

#tasks div .options {
    justify-self: flex-end;
    display: flex;
    gap: 10px;
}

#tasks div .options i {
    cursor: pointer;
}